.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 70px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #3258B2;
  }

  &__field {
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    width: 300px;
  }

  &__field-label {
    font-size: 16px;
    line-height: 19px;

    color: #222222;
  }

  &__field-input {
    margin-top: 5px;
    padding: 5px 10px;

    border: 1px solid #CCCCCC;
    border-radius: 6px;
  }

  &__submit-button {
    width: 170px;
    height: 46px;

    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #5A82DF;
    border-radius: 6px;

    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

    &:hover {
      opacity: 0.8;
    }
  }
}