@import "../../constant";

@include portrait-phones-adaptive {
  .institutes-page{
    padding-top: 25px;

    &__title {
      margin-top: 25px;
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}