.institutes-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  &__title {
    margin-top: 60px;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
  }
}