@import "../../../../constant";

.calendar-slider {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0;
  max-width: calc(100vw - 40px);
  width: 100%;

  &__path {
    position: relative;
    align-items: center;
    margin: 0 20px;
    overflow-x: hidden;

    .months-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      h4 {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $textGrey;
      }
    }

    .slides__list {
      display: flex;
      width: max-content;
      transition: all 300ms;

      &._animation-disabled {
        transition: none;
      }
    }
  }

  &__button {
    width: 28px;
    height: 28px;
    margin-top: 38px;

    flex-shrink: 0;

    background: url("../../../../media/icons/calendar-arrow-icon.svg") center no-repeat, linear-gradient(180deg, #FAFAFA 0%, #F2F2F2 100%);
    border: 0.5px solid #E0E0E0;
    border-radius: 2px;

    &.button-next {
      transform: rotate(180deg);
    }

    &._disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
