@import "../../../constant";

@include portrait-phones-adaptive {
  .dropdown-list {

    &__open-button {
      height: max-content;
      padding: 5px 20px;
      min-height: 42px;

      &._active {

        .dropdown-list__open-button__title {
        }

        &:hover {
        }
      }

      &:hover {
      }

      &__title {
      }

      &__icon {

        svg{
          path{
          }
        }

        &._up {
          svg{
            path{
            }
          }
        }
      }
    }

    &__window {

      &._open {
      }

      &__item {
      }
    }
  }
}