@import "../../../constant";

.dropdown-list {
  position: relative;

  &__open-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    min-width: 280px;
    width: 100%;
    height: 42px;

    background-color: $StaticList;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    transition: all 300ms;

    &._active {
      background-color: $ActiveLite;

      transition: all 300ms;

      .dropdown-list__open-button__title {
        color: $textWhite;
      }

      &:hover {
        background-color: $ActiveLite;
        opacity: 0.8;

        transition: all 300ms;
      }
    }

    &._loading {
      background: rgba(128, 128, 128, 0.3);
      pointer-events: none;
    }

    &:hover {
      background-color: $HoverList;

      transition: all 300ms;
    }

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: left;
    }
  }

  &__window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 9px 0 22px 0;

    max-height: 0;
    overflow: hidden;

    transition: max-height 300ms;

    &._open {
      max-height: 500vh;

      transition: max-height 300ms;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 125px;
      height: 36px;
      margin: 12px;

      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.35);

      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
      color: $textBlack;
      text-align: center;

      background: linear-gradient($StaticButton, $HoverButton);
      border-radius: 3px;

      &:hover {
        background: linear-gradient($HoverButton, $HoverButton);
      }

      &:active {
        background: linear-gradient($ActiveButton, $ActiveButton);
      }

      &._teacher {
        width: 155px;
        height: 45px;
      }
    }
  }
}