@import "../../../constant";

@include landscape-phones-adaptive {
  .main-logo-link{
    img{
      width: 440px;
    }
  }
}

@include portrait-phones-adaptive {
  .main-logo-link{
    img{
      width: 280px;
    }
  }
}