@import "../../../constant";

.search-component{
  position: relative;

  &__field-block{
    display: flex;
    align-items: center;

    .input-block{
      width: 90%;

      input{
        width: 90%;
        background: transparent;
        border: none;
      }
    }
  }

  &__list{
    position: absolute;
    background-color: #FAFAFA;
    box-shadow:1px 13px 15px 0 rgba(0,0,0,0.16);
    z-index: 10;

    &__search-item{
      display: block;
      padding: 10px;
      font-size: 13px;
      cursor: pointer;
      color: $textBlack;
      text-decoration:none;
      white-space: nowrap; /* Отменяем перенос текста */
      overflow: hidden; /* Обрезаем содержимое */
      text-overflow: ellipsis; /* Многоточие */

      &:hover{
        background-color: $BlueFirstStage;
      }
      &._current{
        background-color: $BlueFirstStage;
      }
    }
  }
}