@import "../../../constant";

.admin-entities {
  margin-top: 40px;

  .items-list {
    display: flex;
    flex-wrap: wrap;

    max-width: 1200px;

    margin-top: 30px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 36px;
      margin: 10px;
      background: $BlueFirstStage;
      border-radius: 2px;

      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $textWhite;
      text-align: center;
      text-decoration: none;

      transition: background-color 300ms;

      &:hover {
        background: $BlueThirdStage;
        transition: background-color 300ms;
      }

      &._department {
        height: 60px;
        width: 240px;
      }

      input {
        display: none;
      }

      .check {
        margin-left: 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 16px;
        height: 16px;

        border-radius: 50%;

        background-color: white;
        border: 1px rgba(0, 0, 0, 0.5) solid;

        .checked-icon {
          width: 10px;
          height: 10px;

          border-radius: 50%;
          background-color: #3C5BC2;
        }
      }
    }
  }

  .show-hide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;

    margin: 24px auto 0 auto;

    background: $BlueFirstStage;
    border-radius: 2px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $textWhite;
    text-align: center;
    text-decoration: none;

    transition: background-color 300ms;

    &:hover {
      background: $BlueThirdStage;
    }
  }
}