.schedule-cell {
  padding: 10px 5px 30px 5px;

  border: 1px solid #E0E0E0;

  position: relative;

  a {
    text-decoration: none;

    &:hover {
       p {
         opacity: 0.8;
         color: #607CD5;
       }
    }
  }

  &__schedule-group:not(:first-child) {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #E0E0E0;
  }

  &._empty {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #BDBDBD;
  }

  &._current {
    background: #F2F2F2;
  }

  &__discipline-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #000000;
  }

  .groups-list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 5px;

    max-height: 100px;

    overflow-y: auto;

    &::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: #ecedee
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-color: #607CD5;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #607CD5;
    }

    &::-webkit-resizer {
      background-repeat: no-repeat;
      width: 4px;
      height: 0
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &__item {
      padding: 2px;

      font-size: 12px;
      line-height: 13px;
      text-align: center;

      color: #000000;

      &._bold {
        font-weight: bold;
      }
    }
  }

  &__info {
    margin-top: 5px;

    .teacher-classroom-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 2px;

      &__teacher {
        font-size: 12px;
        line-height: 13px;

        color: #000000;
      }

      &__classroom {
        margin-left: 5px;

        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        text-align: center;

        color: #000000;
      }
    }
  }

  &__time-and-link {
    position: absolute;
    bottom: 10px;

    margin-top: 7px;
    margin-left: 2px;

    width: calc(100% - 15px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 13px;
    line-height: 13px;

    color: #000000;
  }

  .type-icon {
    position: absolute;
    top: 0;
    right: 0;

    &._pr {
      path {
        fill: #C19CFF;
      }
    }

    &._lec {
      path {
        fill: #68F2E5;
      }
    }

    &._lab {
      path {
        fill: #FFB9A3;
      }
    }

    &._test {
      path {
        fill: #94BFFF;
      }
    }

    &._exam {
      path {
        fill: #DDA0DD;
      }
    }

    &._zach {
      path {
        fill: #ffdead;
      }
    }

    &._cons {
      path {
        fill: #98FB98;
      }
    }

    &._web {
      path {
        fill: #F0E68C;
      }
    }

    &._per {
      path {
        fill: #bfefff;
      }
    }
  }
}