.switch-button {
  display: flex;
  align-items: center;

  width: 150px;
  height: 40px;

  padding: 12px;

  background: linear-gradient(180deg, #F2F2F2 0%, #D4D4D4 100%);
  border-radius: 2px;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}