@import "../../../constant";

@include portrait-phones-adaptive {

  .calendar-slider {
    margin-top: 25px;

    .week-slide {

      &._active {

        .week-slide__day {
          font-size: 12px;
        }
      }

      .button-block {

        .first-day-line {
        }
      }

      &__day {
        width: 40px;
        height: 40px;
        margin: 0 -5px;
      }
    }

    &__path {
      margin: 0 10px;
    }

    &__button {
      width: 24px;
      height: 24px;
    }

    .months-bar {
      h4 {
        font-size: 12px;
      }
    }
  }
}