@import "../../../constant";

.dropdown-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 5px;
  transform: rotate(0);

  transition: all 300ms;

  svg{
    path{
      fill: $textNoBlack;
      transition: all 300ms;
    }
  }

  &._up {
    transform: rotate(180deg);

    transition: all 300ms;
    svg{
      path{
        transition: all 300ms;
      }
    }
  }
}