.admin-label {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 20px;

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #3258B2;
  }
}