@import "../../../constant";

.admin-users {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;

    &-text {
      width: 200px;
      padding: 8px 0;

      text-align: center;

      border: 1px solid gray;

      &._title {
        border: none;
        font-weight: bold;
      }
    }

    &-remove-button {
      width: 24px;
      height: 24px;

      margin-left: 8px;

      background: url("../../../media/icons/trash.svg");
      background-size: contain;

      &:hover {
        opacity: 0.8;
      }

      &._title, &.admin {
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  &__create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;

    margin: 24px auto 0 auto;

    background: $BlueFirstStage;
    border-radius: 2px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $textWhite;
    text-align: center;
    text-decoration: none;

    transition: background-color 300ms;

    &:hover {
      background: $BlueThirdStage;
    }
  }
}