.entities-filter {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__controls {
    display: flex;
    align-items: center;
  }

  &__field {
    margin-right: 48px;

    min-width: 420px;
    padding: 8px;

    border-radius: 8px;
  }

  &__switch {
    margin-top: 32px;

    &-item {
      width: 180px;
      padding-bottom: 8px;

      font-size: 18px;
      line-height: 24px;

      border-bottom: 3px #D4D4D4 solid;

      &.selected {
        border-bottom: 3px #3C5BC2 solid;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}