.admin-main {
  &__sections {
    display: flex;

    margin-top: 24px;
  }

  &__section-link {
    margin: 16px;

    width: 200px;
    height: 150px;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.5);

    border-radius: 12px;

    text-decoration: none;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }
  }

  &__section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    .icon {
      width: 50px;
      height: 70px;

      margin-bottom: 8px;

      &.entities {
        background: url("../../../media/icons/database.svg") center no-repeat;
        background-size: contain;
      }

      &.settings {
        background: url("../../../media/icons/settings.svg") center no-repeat;
        background-size: contain;
      }

      &.users {
        background: url("../../../media/icons/group.svg") center no-repeat;
        background-size: contain;
      }
    }
  }
}