@import "../../constant";

.groups-page{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    margin-top: 60px;
    margin-bottom: 35px;

    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
  }
}

@include portrait-phones-adaptive {
  .groups-page{

    &__title{
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}