.error-page {
  min-height: calc(100vh - 215px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__message {
    font-size: 28px;
    line-height: 28px;
  }

  &__link {
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 40px;
    background: #607CD5;

    color: white;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    border-radius: 2px;
    transition: background-color 0.5ms;

    &:hover {
      background-color: #3C5BC2;
    }
  }
}