@import "../../../constant";

.admin-configuration {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;

  &__action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;

    margin: 24px auto 0 auto;

    background: $BlueFirstStage;
    border-radius: 2px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $textWhite;
    text-align: center;
    text-decoration: none;

    transition: background-color 300ms;

    &:hover {
      background: $BlueThirdStage;
    }
  }
}