@import "../../../constant";

@include landscape-tablets-adaptive {
  .schedule-view {
    flex-direction: column;

    .filter-panel {

      &__first-group {
        display: flex;
      }

      &__second-group {
        display: flex;
        margin-top: 0;
      }

      .dropdown-button, .switch-button {
        margin-right: 10px;
      }
    }
  }
}

@include portrait-tablets-adaptive {
  .schedule-view {
    flex-direction: column;
    max-width: 880px;

    .filter-panel {
      margin-bottom: 50px;

      &__first-group {
        display: flex;
      }

      &__second-group {
        display: flex;
        margin-top: 0;
      }

      .dropdown-button, .switch-button {
        margin-right: 10px;
      }
    }

    .schedule-table {
      position: relative;
      min-width: 880px;
      border: 1px solid #E0E0E0;

      &__wrapper {
        max-width: 880px;
        overflow-x: auto;

        &._empty {
          overflow-x: visible;

          .schedule-table {
            min-width: 260px;
          }
        }

        &::-webkit-scrollbar-button {
          background-repeat: no-repeat;
          width: 0;
          height: 0;
        }

        &::-webkit-scrollbar-track {
          background-color: #ecedee
        }

        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 0;
          border-radius: 0;
          background-color: #607CD5;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #607CD5;
        }

        &::-webkit-resizer {
          background-repeat: no-repeat;
          width: 4px;
          height: 0
        }

        &::-webkit-scrollbar {
          width: 4px;
        }
      }
    }

    .schedule-cell {
      &__discipline-name {
        font-size: 12px;
      }

      .groups-list__item {
        font-size: 10px;
      }

      .teacher-classroom-block {
        p {
          font-size: 10px;
        }
      }

      .schedule-cell__time-and-link {
        font-size: 11px;
      }
    }
  }
}

@include landscape-phones-adaptive {
  .schedule-view {
    flex-direction: column;
    max-width: 880px;

    .filter-panel {
      display: flex;
      margin-bottom: 30px;

      &__first-group {
        display: flex;
        flex-direction: column;
      }

      &__second-group {
        display: flex;
        flex-direction: column;
        margin-top: 0;

        .switch-button {
          width: 130px;
          font-size: 10px;
        }
      }

      .dropdown-button {
        &__button {
          width: 130px;

          &__title {
            font-size: 10px;
          }
        }

        &__icon {
          width: 8px;
          height: 4px;
        }

        &__list {
          font-size: 10px;
          width: 130px;

          &__item {
            padding: 0 10px;
          }
        }
      }
    }
  }
}