.schedule-table {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);

  &__wrapper {
    width: 100%;
  }

  .date-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #828282;

    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;

    &._current {
      background: #F2F2F2;
    }
  }

  &__cells {
    display: grid;
    grid-template-columns: 30px repeat(6, 1fr) 30px;
  }

  .pair-number {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #828282;
  }

  .empty-table {
    min-height: 50vh;
    width: 100%;

    border-top: 1px solid #E0E0E0;

    font-style: italic;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #BDBDBD;
  }

}