/*цвета текстов*/
$textWhite: #F2F2F2;
$textBlack: #000000;
$textNoBlack: #333333;
$textGrey: #828282;
$textGreyCalendar: #BDBDBD;

/*Акцентные цвета*/
$BlueFirstStage:#607CD5;
$BlueSecondStage:#4664C6;
$BlueThirdStage:#3C5BC2;

/*Цвета выпадающих списков*/
$StaticList:#F2F2F2;
$HoverList:#E0E0E0;
$ActiveLite:#607CD5;

/*Цвета выпадающих кнопок*/
$StaticButton:#F2F2F2;
$HoverButton:#D4D4D4;
$ActiveButton:#BDBDBD;

/*цвета для страницы Schedule*/
$StaticButtonSchedule:#FAFAFA;

/*Цвета для расписания*/
$StaticPoint:#FFFFFF;

/*Breakpoints*/

/* Large desktops and laptops */
@mixin laptops-adaptive {
  @media (min-width: 1200px) {
    @content
  }
}

/* Landscape tablets and medium desktops */
@mixin landscape-tablets-adaptive {
  @media (max-width: 1199px) {
    @content
  }
}

/* Portrait tablets and small desktops */
@mixin portrait-tablets-adaptive {
  @media (max-width: 990px) {
    @content
  }
}

/* Landscape phones and portrait tablets */
@mixin landscape-phones-adaptive {
  @media (max-width: 768px) {
    @content
  }
}

/* Portrait phones and smaller */
@mixin portrait-phones-adaptive {
  @media (max-width: 480px) {
    @content
  }
}
