@import "./constant";

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
}

.container-laptop {
  max-width: 728px;
  margin: 0 20px;
}

.site-wrapper{
  position: relative;
  min-height: calc(100vh - 155px);
  padding-bottom: 155px;
}

.center{
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input, textarea {
  outline: none;
  font-size: 18px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}