@media print {
  @page  {
    size: A4 landscape;
  }

  .main-header, .main-footer, .calendar-slider, .filter-panel, .separate-line, .print-button, .root-loader, .notification-card {
    display: none !important;
  }

  .schedule-view {
    margin: 5px !important;
  }
}