@import "../../../constant";

.schedule-page__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

  padding-bottom: 30px;

  .separate-line {
    margin-top: 25px;

    height: 1px;
    width: 100vw;
    background: #E0E0E0;
  }

  .schedule-view {
    width: 100%;
    margin: 40px 0;

    display: flex;

    .filter-panel {
      margin-right: 20px;
    }
  }

  .print-button {
    position: absolute;
    right: 20px;
    bottom: 0;

    width: 104px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #FAFAFA 0%, #F2F2F2 100%);
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;

    &:hover {
      opacity: 0.8;
    }

    &__icon {
      margin-right: 5px;

      width: 24px;
      height: 24px;
      background: url("../../../media/icons/print-icon.png") center no-repeat;
      background-size: contain;
    }
  }
}

@include landscape-tablets-adaptive {
  .schedule-page__content {
    .print-button {
      display: none;
    }
  }
}