@import "../../../constant";

.header-navigation-menu{
  position: relative;

  &__burger-menu{
    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .hamRotate._active {
      transform: rotate(45deg);
    }

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $textWhite;
      stroke-width: 3;
      stroke-linecap: round;
    }

    .ham4 .top {
      stroke-dasharray: 40, 121;
    }

    .ham4 .bottom {
      stroke-dasharray: 40, 121;
    }

    .ham4._active .top {
      stroke-dashoffset: -68px;
    }

    .ham4._active .bottom {
      stroke-dashoffset: -68px;
    }
  }

  .nav-window-enter {
    opacity: 0;
  }

  .nav-window-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .nav-window-exit {
    opacity: 1;
  }

  .nav-window-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  &__navigation-list{
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    height: 100px;

    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24);
    border-radius: 2px;

    z-index: 100;

    a{
      white-space: nowrap;
      color: $textBlack;
      text-decoration: none;
      padding: 5px 10px;

      &:hover{
        background-color: $StaticList;
      }
    }
  }
}