@import "../../../constant";

.institutes__links-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 36px;
    margin-bottom: 25px;
    background: $BlueFirstStage;
    border-radius: 2px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $textWhite;
    text-align: center;
    text-decoration: none;

    transition: background-color 300ms;

    &:hover {
      background: $BlueThirdStage;
      transition: background-color 300ms;
    }
  }

  &._test-centers {
    a {
      height: 60px;
    }
  }
}