@import "../../../constant";

@include landscape-phones-adaptive {
  .main-header{

    &__top{

      &__tools{
        .header-search{
          display: none;
        }
      }
    }
  }
}

@include portrait-phones-adaptive {
  .main-header{

    &__top{

      .container{
        .services{
          .dropdown_button{
            span{
              display: none;
            }
          }
        }
      }

      &__tools{
        .header-search{
          display: none;
        }
      }
    }
  }
}