@import "../../../constant";

.main-header{

  &__top{
    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: $BlueFirstStage;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

    &__back-button {
      display: flex;
      align-items: center;

      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: $textWhite;

      .back-icon {
        width: 35px;
        height: 35px;
        background: url("../../../media/icons/back-arrow.svg") center no-repeat;
      }
    }

    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__title{
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: $textWhite;
    }

    .title-link{
      text-decoration: none;
    }

    &__tools{
      display: flex;
      align-items: center;

      .logout {
        width: 20px;
        height: 20px;

        margin-left: 16px;

        background: url("../../../media/icons/logout.svg");
        background-size: contain;
      }
    }
  }

  &__bottom{
    width: 100%;
    height: 60px;
    background-color: $BlueFirstStage;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);

    &__header{
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: $textWhite;
    }
  }
}