.notification-card {
  position: fixed;
  transform: translateY(-170px);

  display: flex;
  justify-content: center;

  width: 100%;

  z-index: 2000;

  transition: all 300ms linear;

  &._visible {
    top: 10px;
    transform: translateY(0);
  }

  &__content-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 15px;

    max-width: 400px;
    width: 100%;

    height: 80px;

    padding: 10px;

    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);

    p {
      text-align: center;
    }
  }

  &__close-button {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 15px;
    height: 15px;
    background: url("../../../media/icons/close-icon.svg") center no-repeat;
  }
}