@import "../../constant";

@include landscape-phones-adaptive {
  .main-page {

    &__content {

      .main-logo-link{
        margin: 40px 0;
      }
    }

    &__title {
    }

    .main-page__search {

      .search-component__field-block {

        &__search-button {
        }
      }
    }

    .search-component__list {

      &__search-item {
      }
    }

    &__example {

      a {
      }
    }

    &__links {

      &__link {

        &__icon {
        }

        &__title {
        }
      }
    }
  }
}

@include portrait-phones-adaptive {
  .main-page {

    &__content {

      .main-logo-link{
        margin: 25px 0;
      }
    }

    &__title {
    }

    .main-page__search {
      display: none;

      .search-component__field-block {

        &__search-button {
        }
      }
    }

    .search-component__list {

      &__search-item {
      }
    }

    &__example {
      display: none;

      a {
      }
    }

    &__links {
      flex-wrap: wrap;
      max-width: 280px;
      margin-top: 20px;

      &__link {
        width: 110px;
        margin-bottom: 30px;

        &__icon {
        }

        &__title {
        }
      }
    }
  }
}

