@import "../../constant";

.main-page {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-logo{
      margin: 60px 0;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
  }

  .main-page__search {
    max-width: 772px;
    width: 100%;

    .search-component__field-block {
      width: 100%;
      height: 48px;
      background: #FAFAFA;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
      border-radius: 2px;

      &__search-button {
        width: 18px;
        height: 18px;
        margin: 0 20px;
        background: url("../../media/icons/main-search-icon.svg") center no-repeat;
      }
    }
  }

  .search-component__list {
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);

    &__search-item {
      font-size: 18px;
      padding-left: 58px;
    }
  }

  &__example {
    display: flex;
    align-items: center;
    margin-top: 25px;
    max-width: 772px;
    width: 100%;

    a {
      margin-left: 5px;
      color: #828282;
      text-decoration: none;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
    max-width: 772px;
    width: 100%;

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-decoration: none;

      &__icon {
        width: 72px;
        height: 72px;

        &.students-icon{
          background: url("../../media/icons/students-main-icon.svg");
        }

        &.teachers-icon{
          background: url("../../media/icons/teachers-main-icon.svg");
        }

        &.classrooms-icon{
          background: url("../../media/icons/classrooms-main-icon.svg");
        }

        &.tests-center-icon{
          background: url("../../media/icons/tests-center-main-icon.svg");
        }
      }

      &__title {
        margin-top: 8px;
        font-size: 14px;
        text-align: center;
        color: $textBlack;
      }
    }
  }
}