@import "../../../constant";

.form-wrapper {
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  .create-user-form {
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: white;

    border-radius: 16px;

    h3 {
      font-size: 24px;

    }

    &__field {
      margin-top: 24px;

      width: 320px;
      padding: 8px;

      border-radius: 6px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 40px;

      margin: 24px auto 0 auto;

      background: $BlueFirstStage;
      border-radius: 2px;

      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $textWhite;
      text-align: center;
      text-decoration: none;

      transition: background-color 300ms;

      &:hover {
        background: $BlueThirdStage;
      }
    }
  }
}