@import "../../../constant";

@include portrait-tablets-adaptive {
  .day-schedule {

    &__list {

      &__item {

        .info {
          flex-direction: column;

          &__teacher-classrooms {
            margin: 10px 0 0 !important;

            &__item {

            }
          }
        }
      }
    }
  }
}

@include landscape-phones-adaptive {
  .day-schedule {

    &__list {

      &__item {

        &__schedule-groups {
          display: flex;
          flex-wrap: wrap;
        }

        .info:nth-child(2) {
          margin-top: 10px;
        }

        .info {
          flex-direction: column;

          &__teacher-classrooms {
            margin: 10px 0 0 !important;

            &__item {

            }
          }
        }
      }
    }
  }
}

@include portrait-phones-adaptive {
  .day-schedule {

    &__list {

      &__item {

        .info {
          flex-direction: column;
          margin-left: 5px !important;

          h3 {
            font-size: 12px !important;
          }

          &__title-groups__groups {

            p {
              font-size: 12px !important;
            }
          }

          &__teacher-classrooms {
            margin: 10px 0 0 !important;

            &__item {
              min-width: 120px !important;

              &__teacher {
                font-size: 12px !important;
              }

              &__classroom {
                font-size: 12px !important;
              }
            }
          }
        }
      }
    }
  }
}