.day-schedule {
  width: 100%;

  &__date {
    font-size: 16px;
    line-height: 19px;
    color: #4664C6;
  }

  &__list {
    margin-top: 15px;

    &__item {
      margin-bottom: 25px;
    }
  }
}