.day-schedule__list__item {
  display: flex;

  width: 100%;

  &._pr {
    .info {
      background: #C19CFF;
    }
  }

  &._lec {
    .info {
      background: #68F2E5;
    }
  }

  &._lab {
    .info {
      background: #FFB9A3;
    }
  }

  &._test {
    .info {
      background: #94BFFF;
    }
  }

  &._exam {
    .info {
      background: #DDA0DD;
    }
  }

  &._zach {
    .info {
      background: #ffdead;
    }
  }

  &._cons {
    .info {
      background: #98FB98;
    }
  }

  &._web {
    .info {
      background: #F0E68C;
    }
  }

  &._per {
    .info {
      background: #bfefff;
    }
  }

  .time-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 70px;
    margin-top: 10px;

    &__pair-number {
      font-size: 24px;
      line-height: 25px;
    }

    &__time {
      margin-top: 7px;
      font-size: 12px;
      line-height: 13px;
    }

    a {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  &__schedule-groups {
    display: flex;
    width: 100%;
  }

  .info {
    display: flex;
    justify-content: space-between;

    margin-left: 25px;

    min-height: 60px;
    padding: 10px;

    width: 100%;

    background: #F2F2F2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;

    h3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 15px;
    }

    &__title-groups__groups {
      margin-top: 5px;

      display: flex;
      flex-wrap: wrap;

      &__item {
        margin-top: 5px;
        margin-right: 5px;

        font-size: 14px;
        line-height: 13px;

        color: #000000;

        &._bold {
          font-weight: bold;
        }
      }
    }

    &__teacher-classrooms {
      margin-left: 50px;

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 5px 0;


        max-width: 200px;
        min-width: 170px;


        &__teacher {
          font-size: 14px;
          line-height: 13px;

          color: #000000;
        }

        &__classroom {
          margin-left: 5px;

          font-weight: 600;
          font-size: 14px;
          line-height: 13px;
          text-align: center;

          color: #000000;
        }
      }
    }
  }
}