@import "src/app/constant";

.header-search {

  .search-component__field-block {

    &__search-button {
      width: 18px;
      height: 18px;
      background: url("../../../../media/icons/header-seach-icon.svg") center no-repeat;
      background-size: contain;
    }

    .input-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      max-width: 0;
      margin-left: 17px;
      border-bottom: 1.5px solid $textWhite;
      overflow: hidden;
      transition: max-width 500ms;

      &._open {
        max-width: 250px;
        transition: max-width 500ms;
      }

      input {
        background: transparent;
        border: none;
        width: 236px;

        padding: 5px 0;

        font-size: 15px;
        line-height: 20px;

        &::-webkit-input-placeholder { /* Chrome */
          color: rgba(242, 242, 242, 0.5);
        }

        &:-ms-input-placeholder { /* IE 10+ */
          color: rgba(242, 242, 242, 0.5);
        }

        &::-moz-placeholder { /* Firefox 19+ */
          color: rgba(242, 242, 242, 0.5);
          opacity: 1;
        }

        &:-moz-placeholder { /* Firefox 4 - 18 */
          color: rgba(242, 242, 242, 0.5);
          opacity: 1;
        }
      }

      .hide-field-button {
        width: 14px;
        height: 14px;
        background: url("../../../../media/icons/header-close-icon.svg") center no-repeat;
      }
    }
  }

  .search-component__list {
    top: 45px;
    left: 35px;
    width: 250px;
  }
}