@import "../../../constant";

@include landscape-phones-adaptive {
  .main-footer{

    &__top{

      .container{
      }

      &__links{
        display: none;

        a{
        }
      }

      .logo-its{
      }
    }

    &__bottom{
    }
  }
}

@include portrait-phones-adaptive {
  .main-footer{

    &__top{

      .container{
      }

      &__links{
        display: none;

        a{
          img{
            width: 152px;
            height: 30px;
          }
        }
      }

      .logo-its{
      }
    }

    &__bottom{
      padding: 0 10px;
      font-size: 12px;
    }
  }
}