@import "../../../constant";

.main-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &__top{
    height: 85px;
    background-color: $BlueFirstStage;

    .container{
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__links{
      margin-left: 40px;
      display: flex;
      flex-direction: column;

      a{
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $textWhite;

        img{
          width: 200px;
          height: 40px;
        }
      }
    }

    .logo-its{
      margin-left: auto;
    }
  }

  &__bottom{
    padding: 0 20px;
    color: $textWhite;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $BlueThirdStage;
    height: 50px;

    font-size: 14px;
    line-height: 16px;
  }
}