@import "../../../constant";

.services {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  .dropdown_button{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 0;
    color: $textWhite;
    cursor: pointer;
    outline: none;

    .img {
      background: url('../../../media/icons/tsu-logo-icon.svg') no-repeat center;
      height: 25px;
      width: 25px;
    }
  }

  .dropdown_button_adaptive{
    display: none;
    align-items: center;
    background: transparent;
    border: none;
    color: $textWhite;
    cursor: pointer;
    outline: none;

    .img {
      background: url('../../../media/icons/tsu-logo-icon.svg') no-repeat center;
      height: 25px;
      width: 25px;
    }

    .style{
      display: none;
      transform: rotate(180deg);
      height: 7px;
      color: $textWhite;

      &.active{
        transform: rotate(0);
      }
    }
  }

  .dropdown-menu{
    position: absolute;
    top: 40px;
    z-index: 100;
    padding: 10px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    &.hidden{
      display: none;
    }

    a{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-decoration: none;
      color: black;
      line-height: 20px;
      &:hover{
        opacity: 0.5;
        transition: opacity 400ms;
      }
    }

    img{
      width: 16px;
      height: 16px;
    }

    .list-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,.125);
    }

    .list-group-item {
      position: relative;
      padding: 10px;
      background-color: #fff;
      border-bottom: 1px solid rgba(0,0,0,.125);
      &:nth-last-child(1){
        border-bottom: none;
      }
    }
  }
}