@import "../../../../constant";

.week-slide {
  display: flex;

  width: max-content;

  background: none;
  border-radius: 80px;

  &._active {
    background: $ActiveLite;
    border-radius: 80px;

    .week-slide__day {
      color: $textWhite;

      &._disabled {
        color: $textGreyCalendar;
        pointer-events: none;
        background: none;
      }
    }
  }

  .button-block {
    display: flex;
    align-items: center;

    .first-day-line {
      height: 29px;
      width: 1px;
      background-color: $textGreyCalendar;
    }
  }

  &__day {
    width: 44px;
    height: 44px;
    margin: 0 -5px;
    background: none;
    border-radius: 100%;

    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: $textBlack;

    &._active {
      background: $ActiveLite;
      border-radius: 80px;
      color: $textWhite;
    }

    &._disabled {
      color: $textGreyCalendar;
      pointer-events: none;
      background: none;
    }
  }
}