@import "../../../constant";

.dropdown-button {
  position: relative;
  width: max-content;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 150px;
    min-height: 40px;

    padding: 5px 12px;

    background: linear-gradient(180deg, #F2F2F2 0%, #D4D4D4 100%);
    border-radius: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    transition: background-color 300ms;

    &__title {
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: rgba(0, 0, 0, 0.87);
    }

    &__arrow {
      margin-top: -2px;
    }

    &._active {
      background-color: $ActiveLite;
      transition: background-color 300ms;
    }

    &._disabled {
      pointer-events: none;

      .dropdown-button__button__arrow {
        opacity: 0;
      }
    }
  }

  &__list {
    position: absolute;
    top: 45px;

    width: 150px;
    max-height: 250px;

    overflow: auto;

    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.24);
    border-radius: 2px;

    z-index: 1000;

    &__item {
      display: flex;
      align-items: center;

      font-weight: 500;
      font-size: 12px;
      line-height: 20px;

      width: calc(100% - 10px);
      min-height: 28px;
      padding: 5px;
      cursor: pointer;

      border-bottom: 1px solid #E0E0E0;

      &:hover {
        background-color: $StaticList;
      }
    }
  }

  .dropdown-list-wrapper-enter {
    opacity: 0;
  }

  .dropdown-list-wrapper-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  .dropdown-list-wrapper-exit {
    opacity: 1;
  }

  .dropdown-list-wrapper-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}